version: '2'
services:

  nginx:
    image: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./volumes/nginx/nginx.conf:/etc/nginx/nginx.conf:ro"
      - "./volumes/nginx/sites-enabled:/etc/nginx/sites-enabled:ro"
      - "./volumes/nginx/include:/etc/nginx/include:ro"
      - "/var/www/cofacts:/var/www/cofacts:ro"
      - "/etc/letsencrypt:/etc/letsencrypt:ro"
      - "/etc/ssl/certs:/etc/ssl/certs:ro"
      - "/var/log:/var/log"
    restart: always

  cloudflared:
    image: cloudflare/cloudflared
    restart: unless-stopped
    command: tunnel run
    env_file:
      - ./env-files/cloudflared

  site-en:
    image: cofacts/rumors-site:latest-en
    env_file:
      - ./env-files/site-en
    restart: always

  site-zh:
    image: cofacts/rumors-site:latest-tw
    env_file:
      - ./env-files/site-zh
    restart: always

  site-ja:
    image: cofacts/rumors-site:latest-ja
    env_file:
      - ./env-files/site-ja
    restart: always

  site-staging-en:
    image: cofacts/rumors-site:latest-en
    env_file:
      - ./env-files/site-staging-en
    restart: always

  site-staging-zh:
    image: cofacts/rumors-site:latest-tw
    env_file:
      - ./env-files/site-staging-zh
    restart: always

  site-staging-ja:
    image: cofacts/rumors-site:latest-ja
    env_file:
      - ./env-files/site-staging-ja
    restart: always

  line-bot-zh:
    restart: always
    image: cofacts/rumors-line-bot:latest-tw
    depends_on:
      - api
      - redis
    logging:
      # Sends all LINE bont logs to AWS Cloudwatch logs. For credential setup, please see:
      # https://wdullaer.com/blog/2016/02/28/pass-credentials-to-the-awslogs-docker-logging-driver-on-ubuntu/
      driver: gcplogs
      options:
        gcp-meta-id: <Meta ID>
        gcp-project: <GCP project>
    env_file:
      - ./env-files/line-bot-zh
    volumes:
      - "./volumes/line-bot:/data"

  line-bot-en:
    image: cofacts/rumors-line-bot:latest-en
    depends_on:
      - api
      - redis
    logging:
      # Sends all LINE bont logs to AWS Cloudwatch logs. For credential setup, please see:
      # https://wdullaer.com/blog/2016/02/28/pass-credentials-to-the-awslogs-docker-logging-driver-on-ubuntu/
      driver: gcplogs
      options:
        gcp-meta-id: <Meta ID>
        gcp-project: <GCP project>
    env_file:
      - ./env-files/line-bot-zh
      - ./env-files/line-bot-en

  line-bot-ja:
    image: cofacts/rumors-line-bot:latest-ja
    depends_on:
      - api
      - redis
    logging:
      # Sends all LINE bont logs to AWS Cloudwatch logs. For credential setup, please see:
      # https://wdullaer.com/blog/2016/02/28/pass-credentials-to-the-awslogs-docker-logging-driver-on-ubuntu/
      driver: gcplogs
      options:
        gcp-meta-id: <Meta ID>
        gcp-project: <GCP project>
    env_file:
      - ./env-files/line-bot-zh
      - ./env-files/line-bot-ja

  api:
    image: cofacts/rumors-api
    env_file:
      - ./env-files/api-production
    volumes:
      - "./volumes/api:/data"
    restart: always

  api-staging:
    image: cofacts/rumors-api
    env_file:
      - ./env-files/api-staging
    volumes:
      - "./volumes/api:/data"
    restart: always

  db:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.3.2
    environment:
      - path.repo=/usr/share/elasticsearch/data
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    volumes:
      - "./volumes/db-production:/usr/share/elasticsearch/data"
    restart: always
    # No exposed ports by default.
    # When migration, manually edit docker-compose to add "ports"
    # and do `docker-compose restart db`.

  db-staging:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.3.2
    environment:
      - path.repo=/usr/share/elasticsearch/data
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - bootstrap.memory_lock=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
    volumes:
      - "./volumes/db-staging:/usr/share/elasticsearch/data"
    restart: always
    ports: # expose ports for db migration operations
      - "62222:9200"

  url-resolver:
    image: cofacts/url-resolver
    mem_limit: 250m
    restart: always
    ports: # expose for debugging
      - "4000:4000"
    env_file:
      - ./env-files/url-resolver-production

  redis:
    image: redis:alpine
    volumes:
      - "./volumes/redis/redis.conf:/usr/local/etc/redis/redis.conf"
    command: redis-server /usr/local/etc/redis/redis.conf
    restart: always

  collab-server:
    restart: always
    image: cofacts/collab-server
    environment:
      - PORT=1234
      - ELASTICSEARCH_URL=http://db:9200

  collab-server-staging:
    image: cofacts/collab-server:dev
    environment:
      - PORT=1234
      - ELASTICSEARCH_URL=http://db:9200

  # LLM observability tool
  #
  langfuse:
    restart: always
    image: langfuse/langfuse:2
    env_file:
      - ./env-files/langfuse

    depends_on:
      - cloudsql-proxy
    logging:
      driver: gcplogs
      options:
        gcp-meta-id: langfuse
        gcp-project: <GCP project>

  # Primarily for Langfuse
  cloudsql-proxy:
    image: gcr.io/cloud-sql-connectors/cloud-sql-proxy:2.14.0
    volumes:
      # The service account is used to both create connection (Cloud SQL Client) and authenticate (Cloud SQL Instance User)
      # Ref: https://cloud.google.com/sql/docs/postgres/sql-proxy#permissions
      # Ref: https://cloud.google.com/sql/docs/postgres/connect-auth-proxy#connecting-docker
      # Ref: https://cloud.google.com/sql/docs/postgres/iam-logins
      - "./volumes/cloudsql/service-account-key.json:/service-account-key.json"
    command: --auto-iam-authn --address 0.0.0.0 --credentials-file /service-account-key.json INSTANCE_CONNECTION_NAME_CHANGE_ME
    restart: unless-stopped
    logging:
      driver: gcplogs
      options:
        gcp-meta-id: langfuse
        gcp-project: <GCP project>
