version: '2'
services:

  site:
    image: cofacts/rumors-site:latest-en
    environment:
      - PORT=3000
      - NODE_ENV=production
      - SERVER_ROLLBAR_TOKEN=
      - PUBLIC_ROLLBAR_TOKEN=
      - PUBLIC_ROLLBAR_ENV=
      - PUBLIC_API_URL=http://api:5000
      - PUBLIC_GTM_ID=
      - SERVER_STACKIMPACT_AGENT_KEY=
      - SERVER_STACKIMPACT_APP_NAME=
    ports:
      - "3000:3000"
    depends_on:
      - api

  api:
    image: cofacts/rumors-api
    environment:
      - ELASTICSEARCH_URL=http://db:9200
      - ELASTIC_LOG_LEVEL=info
      - PORT=5000
      - COOKIE_SECRETS=
      - ROLLBAR_TOKEN=
      - ROLLBAR_ENV=production
      - HTTP_HEADER_APP_ID=x-app-id
      - HTTP_HEADER_APP_SECRET=x-app-secret
      - RUMORS_SITE_CORS_ORIGIN=http://localhost:3000
      - RUMORS_LINE_BOT_SECRET=CHANGE_ME
      - FACEBOOK_APP_ID=
      - FACEBOOK_SECRET=
      - FACEBOOK_CALLBACK_URL=http://localhost:5000/callback/facebook
      - TWITTER_CONSUMER_KEY=
      - TWITTER_CONSUMER_SECRET
      - TWITTER_CALLBACK_URL=http://localhost:5000/callback/twitter
      - GITHUB_CLIENT_ID=
      - GITHUB_SECRET=
      - GITHUB_CALLBACK_URL=http://localhost:5000/callback/github
      - URL_RESOLVER_URL=url-resolver:4000
      - GOOGLE_OAUTH_KEY_PATH=/data/service-account-key.json
      - GA_WEB_VIEW_ID=
      - GA_LINE_VIEW_ID=
      - TIMEZONE=+08:00
      - TRUST_PROXY_HEADERS=
      - COOKIE_SAMESITE_NONE=
    volumes:
      - "./volumes/api:/data"
    ports:
      - "5000:5000"
    depends_on:
      - db
      - url-resolver

  db:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.3.2
    environment:
      - "path.repo=/usr/share/elasticsearch/data"
    volumes:
      - "./volumes/db-sample:/usr/share/elasticsearch/data"
    ports:
      - "62222:9200"

  url-resolver:
    image: cofacts/url-resolver
    ports: # expose for debugging
      - "4000:4000"
    environment:
      - YOUTUBE_API_KEY=
      - ROLLBAR_TOKEN=
      - ROLLBAR_ENV=production

  line-bot:
    image: mrorz/rumors-line-bot
    environment:
      - LINE_CHANNEL_SECRET=
      - LINE_CHANNEL_TOKEN=
      - LINE_AT_ID=
      - REDIS_URL=redis://redis:6379
      - PORT=5001
      - ROLLBAR_ENV=localhost
      - ROLLBAR_TOKEN=
      - APP_SECRET=CHANGE_ME
      - API_URL=http://api:5000/graphql
      - SITE_URL=http://localhost:3000
      - USERID_BLACKLIST=
      - GOOGLE_CREDENTIALS=
      - GOOGLE_DRIVE_IMAGE_FOLDER=
      - GA_ID=
    ports:
      - "5001:5001"
    depends_on:
      - api
      - redis

  redis:
    image: redis
