version: '2'
services:

  site:
    image: cofacts/rumors-site:latest-en
    env_file:
      - ./env-files/site
    ports:
      - "3000:3000"
    depends_on:
      - api

  api:
    image: cofacts/rumors-api
    env_file:
      - ./env-files/api
    volumes:
      - "./volumes/api:/data"
    ports:
      - "5000:5000"
    depends_on:
      - db
      - url-resolver

  db:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.3.2
    env_file:
      - ./env-files/db
    volumes:
      - "./volumes/db-sample:/usr/share/elasticsearch/data"
    ports:
      - "62222:9200"

  url-resolver:
    image: cofacts/url-resolver
    ports: # expose for debugging
      - "4000:4000"
    env_file:
      - ./env-files/url-resolver

  line-bot-zh:
    image: cofacts/rumors-line-bot:dev
    env_file:
      - ./env-files/line-bot-zh
    ports:
      - "5001:5001"
    depends_on:
      - api
      - mongo
      - redis

  redis:
    image: redis

  mongo:
    image: mongo:3.6
    env_file:
      - ./env-files/mongo
    ports:
      - "27017:27017"
    volumes:
      - "./data/mongo:/data/db"
    command: mongod
