version: '2'
services:

  site:
    image: cofacts/rumors-site:latest-en
    env_file:
      - ./env-files.sample/site
    environment:
      - PORT=3000
      - NODE_ENV=production
      - PUBLIC_ROLLBAR_ENV=
      - PUBLIC_API_URL=http://api:5000
    ports:
      - "3000:3000"
    depends_on:
      - api

  api:
    image: cofacts/rumors-api
    env_file:
      - ./env-files.sample/api
    environment:
      - ELASTICSEARCH_URL=http://db:9200
      - ELASTIC_LOG_LEVEL=info
      - PORT=5000
      - ROLLBAR_ENV=production
      - LANGFUSE_BASEURL=http://langfuse:3000
      - HTTP_HEADER_APP_ID=x-app-id
      - HTTP_HEADER_APP_SECRET=x-app-secret
      - RUMORS_SITE_CORS_ORIGIN=http://localhost:3000
      - RUMORS_SITE_REDIRECT_ORIGIN=http://localhost:3000
      - FACEBOOK_CALLBACK_URL=http://localhost:5000/callback/facebook
      - TWITTER_CALLBACK_URL=http://localhost:5000/callback/twitter
      - GITHUB_CALLBACK_URL=http://localhost:5000/callback/github
      - URL_RESOLVER_URL=url-resolver:4000
      - GOOGLE_OAUTH_KEY_PATH=/data/service-account-key.json
      - TIMEZONE=+08:00
      - TRUST_PROXY_HEADERS=
      - COOKIE_SAMESITE_NONE=
    volumes:
      - "./volumes/api:/data"
    ports:
      - "5000:5000"
    depends_on:
      - db
      - url-resolver

  db:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.3.2
    environment:
      - "path.repo=/usr/share/elasticsearch/data"
    volumes:
      - "./volumes/db-sample:/usr/share/elasticsearch/data"
    ports:
      - "62222:9200"

  url-resolver:
    image: cofacts/url-resolver
    ports: # expose for debugging
      - "4000:4000"
    env_file:
      - ./env-files.sample/url-resolver
    environment:
      - ROLLBAR_ENV=production

  line-bot-zh:
    image: cofacts/rumors-line-bot:dev
    env_file:
      - ./env-files.sample/line-bot-sample
    ports:
      - "5001:5001"
    depends_on:
      - api
      - mongo
      - redis

  redis:
    image: redis

  mongo:
    image: mongo:3.6
    env_file:
      - ./env-files.sample/mongo
    ports:
      - "27017:27017"
    volumes:
      - "./data/mongo:/data/db"
    command: mongod
